.card {
  background: #222222;
  border: 1px solid #ff998b;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.btn {
  border: 1px solid hsl(7, 100%, 77%);
  color: #ff998b;
  text-align: center;
}

.fa-solid {
  color:#ff998b
}

.card-img{
  width: 100%;
}
