form {
    justify-self:center;
    background: #222222;
    border: 1px solid #ff998b;
    color: rgba(250, 250, 250, 0.8);
    margin: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 12px;
    width: 75%;
}

form label {
    color: rgba(250, 250, 250, 0.85);
}

form input,
form textarea {
    margin-top: 10px;
    padding: 16px 24px;
    width: 100%;
    background: #111;
    color: rgba(250, 250, 250, 0.9);
    border: 1px solid #ff998b;
    border-radius: 12px;
}

.btn{
    text-align: center;
    margin-top: 15px;
}

form .form-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

form .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

